# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore notebook files if not required
*.ipynb

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE configs
.vscode/
.idea/

# Optional: ignore temporary images
*.png
*.jpg
